$orange: #FF5134;
$light-orange: #FF6534;
$green: #0DB886;
$green-two: #00875F;
$blue: #55ACFE;
$yellow: #FFC47B;
$pink: #e089b0;
$white: #fff;
$gray: #DCDFE7;
$gray-two: #8F95A1;
$gray-three: #8F95A2;
$beige: #FFF4E1;
$red: #D80027;
$gold: #A48756;

$light-orange: #FFF4E1;
$light-blue: #D5EFFB;
$light-blue-two: #00A1FF;
$light-blue-three: #D1EBFD;
$light-gray: #565E72;
$light-gray-two: #8E93A0;
$light-gray-three: #969BA9;
$dark-gray: #B7BCCA;

$dark-blue: #1E2843;

$light-green-gradient: linear-gradient(180deg, #15D79D -46%, #00875F 119%);
$light-blue-gradient: linear-gradient(180deg, #00A1FF -46%, #0065a0 119%);
$light-orange-gradient: linear-gradient(180deg, #FF7C66 0%, #FF5134 167.86%);

/* main variables */
$primary: $orange;
$secondary: $green;
$disable: $gray;

$text-primary: $dark-blue;
$text-secondary: $light-gray;
/* main variables */